.section-item {
  border: 1px dashed theme('colors.darkTheme');
  box-sizing: border-box;
}

.section-item:hover {
  border-color: #409eff;
}

:deep(.el-divider__text) {
  padding: 0 !important;
}

.section-item {
  &.is-active {
    border-color: #409eff;
  }
}

.simulator {
  border: 1px dashed transparent;
  &.is-active {
    border-color: #409eff;
  }
}

.component-item {
  cursor: pointer;
  margin-top: 10px;
  transition: all .2s ease-in-out;
  border: 1px solid theme('colors.border');
}

.component-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
